* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 48px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    --bg-color: #ccccccad;
    --font-color: hsl(230, 34%, 31%);
    --display-color: hsl(230, 34%, 45%);
    --main-button-color: #cccccc7c;
    --side-button-color: hsl(230, 35%, 82%);
    --display-font-color: white;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    display: flex;
    border: 0;
    background-color: var(--main-button-color);
    color: var(--font-color);
    outline: none;
    transition: all 100ms ease-out;
    align-items: center;
    justify-content: center;
}

button i {
    font-size: 28px;
    

}

.calculator {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 7px 13px 16px var(--side-button-color);
    aspect-ratio: 2/3;
}

.calculator .display {
    grid-column: 1/5;
    color: var(--display-font-color);
    display: flex;
    height: 90px;
    margin-top: 1px;
    padding:.3rem;
    background-color: var(--display-color);
}

.side-buttons{
    background-color: var(--side-button-color);
    color: var(--font-color);
}

#action {
    text-align: left;
    font-style: bold;
    padding-top: 15px;
    width: 20px;
    flex: 1 0 auto;
}

#output {
    flex: 1;
    text-align: right;
}

.pressed {
    background-color: hsla(230, 38%, 55%, 0.416);
}